<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>sobre mi</title>
</head>
<body>
    <header>
            <div>                
                <nav>
                    <ol> 
                        <a href="/index.html">
                            <li>INICIO</li>
                        </a>
                        <a href="/view/1first.html">
                            <li>SOBRE MI</li>
                        </a>
                        <a href="/view/2second.html">
                            <li>PROYECTOS</li>
                        </a>
                        <a href="/view/3third.html">
                            <li>HABILIDADES</li>
                        </a>
                        <a href="/view/4fourth.html">
                            <li>CONTACTO</li>    
                        </a>
                    </ol>
                </nav>
            </div>
    </header>
    <main class="main1">
        <section class="titulo1">
            <div>
                <h2 class="titulopagina1">SOBRE MI</h2>
            </div>
        </section>
        <section class="pestañas">
            <article>
                <div class="fakemenu1"></div>
                <div class="fakescreen1"><span class="typed1"></span></div>
            </article>
            <article>
                <div class="fakemenu2"></div>
                <div class="fakescreen2"><span class="typed2"></span></div>
            </article>
        </section>
        <section class="botones1">
            <div>
                <button class="go-forward1">
                    <a href="/index.html"><i class="fa-solid fa-arrow-left-long"></i></a>
                </button>
                <button class="go-next1">
                    <a href="/view/2second.html"><i class="fa-solid fa-arrow-right-long"></i></a>
                </button>
            </div>
        </section>
    </main>
    <footer class="footer1">
        <section>
            <p>Todos los derechos reservados</p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/tipeo.js"></script>
    <script src="https://kit.fontawesome.com/e969f3659a.js" crossorigin="anonymous"></script>
</body>
</html>