<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>proyectos</title>
</head>
<body>
    <header>
        <div>                
            <nav>
                <ol> 
                    <a href="../index.html">
                        <li>INICIO</li>
                    </a>
                    <a href="1first.html">
                        <li>SOBRE MI</li>
                    </a>
                    <a href="2second.html">
                        <li>PROYECTOS</li>
                    </a>
                    <a href="3third.html">
                        <li>HABILIDADES</li>
                    </a>
                    <a href="4fourth.html">
                        <li>CONTACTO</li>    
                    </a>
                </ol>
            </nav>
        </div>
    </header>
    <main class="main2">
        <section class="titulo2">
            <div>
                <h2 class="titulopagina2">PROYECTOS</h2>
            </div>
        </section>
        <section class=articulos2>
            <article>
                <figure>
                    <a href="https://gabrielmorelloregalini.github.io/gabriel.morello.regalini.github.io/">
                        <img src="../img/CV Gabriel_page-0001.jpg" alt="">
                        <div class="contenido2">
                            <h4>Curriculum Vitae</h4>
                            <p>Es una idea que me surgio por el hecho de "quiero trabajo y quiero practicar lo que estuve viendo" asi que aca tenemos un proyecto de mi cv que incorpora animaciones y diseño. No es responsive.</p>
                        </div>
                    </a>
                </figure>
            </article>
            <article>
                <a href="">
                    <img src="" alt="">
                    <div class="contenido2">
                        <h4></h4>
                        <p></p>
                    </div>
                </a>
            </article>
            <article>
                <div class="">
                    <img src="" alt="">
                    <div class="contenido2">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="">
                    <img src="" alt="">
                    <div class="contenido2">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </article>
        </section>
        <section class="botones2">
            <div>
                <button class="go-forward2">
                    <a href="../index.html"><i class="fa-solid fa-arrow-left-long"></i></a>
                </button>
                <button class="go-next2">
                    <a href="second.html"><i class="fa-solid fa-arrow-right-long"></i></a>
                </button>
            </div>
        </section>
    </main>
    <footer class="footer2">

    </footer>
</body>
</html>