<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>gracias y contacto</title>
</head>
<body>
    <header>
        <div>                
            <nav>
                <ol> 
                    <a href="../index.html">
                        <li>INICIO</li>
                    </a>
                    <a href="1first.html">
                        <li>SOBRE MI</li>
                    </a>
                    <a href="2second.html">
                        <li>PROYECTOS</li>
                    </a>
                    <a href="3third.html">
                        <li>CONTACTO</li>    
                    </a>
                </ol>
            </nav>
        </div>
    </header>
    <main class="main3">
        <section class="titulo3">
            <div>
                <h2 class="titulopagina3"> GRACIAS
                </h2>
            </div>
        </section>
        <section class="botones3">
            <div>
                <button class="go-forward2">
                    <a href="2second.html"><i class="fa-solid fa-arrow-left-long"></i></a>
                </button>
                <button class="go-next2">
                    <a href="../index.html"><i class="fa-solid fa-house"></i></a>
                </button>
            </div>
        </section>
    </main>
    <footer class="footer3">
        <section>
            <p>Todos los derechos reservados</p>
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/e969f3659a.js" crossorigin="anonymous"></script>
</body>
</html>